:root {
  --bs-heading-color:#FFf;
  --px-theme: #DAA520;
  --px-theme-rgb: #{$px-theme-rgb};
  --px-black: #DAA520;
  --px-white: #{$px-white};
  --px-text: #{$px-text};
  --px-heading: #{$px-heading};
}
